.root {
    -fx-background-image: url("info_back.png");
}

.backbutton {
    -fx-background-color: linear-gradient(to left, #de1979, #7b96ea);
    -fx-font-family: Nevis;
    -fx-font-size: 10px;
    -fx-text-fill: #ffffff;
    -fx-border: 90px;
    -fx-border-radius: 40 10px;
    -fx-border-color: linear-gradient(#e214a4, #0087ff);
    -fx-background-radius: 40 10px;

}


.backbutton:hover {

    -fx-arc-width: 30;
    -fx-arc-height: 30;
    -fx-effect: dropshadow(three-pass-box, #7b96ea, 100, 0, 0, 0);


}